@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: hsl(30, 54%, 90%);
    padding-bottom: 100px;
}

hr{
    width: 90%;
    margin: 0 auto 0;
    color: hsl(24, 5%, 18%);
}


.container{
    width: 710px;
    height: 1450px;
    border: 2px solid;
    border-radius: 20px;
    margin: 2rem auto 0;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

img{
    width: 90%; /*639px*/
    margin-top: 35.5px;
    border-radius: 10px;
}

.recipt-title-and-description{
    width: 90%;
    text-align: left;
    margin: 25px auto 0;

}

.recipt-title-and-description .title{
    font-family: 'Young serif';
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: hsl(24, 5%, 18%);
}

.recipt-title-and-description .description{
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
}

.recipte-preparation-time{
    width: 90%;
    border-radius: 10px;
    text-align: left;
    margin: 25px auto 0;
    background: hsl(330, 100%, 98%);
}

.recipte-preparation-time .title{
    padding: 20px 0 0 20px;
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 17px;
}

.recipte-preparation-time .list{
    padding-left: 25px;
    padding-bottom: 20px;
    margin-left: 1.3rem;
    font-size: 16px;
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
}
.recipte-preparation-time ul li{
    margin-bottom: 10px;
}

.recipte-preparation-time .list span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.recipte-preparation-time li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 13px;
}


.ingredients{
    width: 90%;
    text-align: left;
    margin: 30px auto 30px;
}


.ingredients .title{
    font-family: 'Young serif';
    font-size: 20px;
    font-weight: 500;
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}


.ingredients .list{
    font-family: 'Outfit';
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    padding-left: 20px;
}

.ingredients ul li{
    margin-bottom: 10px;
}

.ingredients ul p{
    margin-left: 10px;
}

.ingredients ul li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 13px;
}


.instructions{
    width: 90%;
    margin: 25px auto 30px;
    text-align: left;
}

.instructions .title{
    font-family: 'Young serif';
    font-size: 20px;
    font-weight: 500;
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}

.instructions ol{
    font-family: 'Outfit';
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    padding-left: 20px;
}

.instructions ol li{
    margin-bottom: 10px;
}

.instructions ol li p{
    margin-left: 10px;
}

.instructions ol li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 13px;
    font-weight: 700;
}

